<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>家庭监控摄像头</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/mjpg/style.css" type="text/css" />
    <!--[if IE 6]>
    <link rel="stylesheet" href="/static/css/mjpg/fix.css" type="text/css" />
    <![endif]-->
  </head>

  <body>
    <div id="sidebar">
      <h1>MJPG-Streamer Demo Pages</h1>
      <h2>a resource-friendly streaming application</h2>

      <div id="menu">
        <a class="active" href="index.html">简介</a>
        <a href="static/html/static.html">Static</a>
        <a href="static/html/stream.html">Stream</a>
        <a href="static/html/java.html">Java</a>
        <a href="static/html/javascript.html">Javascript</a>
        <a href="static/html/videolan.html">VideoLAN</a>
        <a target="_blank" onClick="window.open(this.href, '_blank'); return false;" href="control.htm">Control</a>
      </div>

      <h3>此系统由以下人员制作</h3>
      <p>12 3</br>123</br>123</br>123</br>123</br>123</br>123</br>123</br>123</br></p>
  
    </div>

    <div id="content">
      <h1>WELCOME！</h1>
      <h2>家庭智能互联网系统</h2>

      <h3>初次使用</h3>
      <p>此页面运行与本地端 负责接受数据并控制家庭设备</p>
        <img src="example.jpg" width="500" height="370" alt="just an image" />  
      <p>你可以做这些事</p>
      <a href="static.html"><img src="./?action=snapshot" width="170" height="128" alt="static image example" /></a>
      <p>获取截图 就像左边显示的一样 点击图片获取更多功能</p>

      <h3>第一</h3>
      <p>你可以<strong>这样</strong>或<small>这样</small>或<i>这样</i></p>

      <h3>第二</h3>
      <p>从机采用esp8266连接至家庭局域网 通过mqtt协议进行控制</p>
       <h3>第三</h3>
       <p>本地端采集数据后上传至服务端进行处理</p>

      <p> &copy;<small>长沙理工大学</small>    你可以点击访问 <a href="http://www.csust.edu.cn/">长沙理工大学</a> 来了解更多有关信息</p>
    </div>
  </body>
</html>
