<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CSUST-AUTO-Lab</title>
		<marquee style="position:absolute;z-index:1; background=“red">Projects To Show 网页测试入口 MadeBy： Geeks Date: 2019/10/01</marquee>
        <style type="text/css">
            html,body{width: 100%;height: 100%;margin: 0;padding: 0;}
			#photograph{height: 81%; width:100%; margin:0; padding:0;}
        </style>
		<link rel="stylesheet" type="text/css" href="static/css/table.css">
        <!--引入百度地图API接口以及创建应用的AK-->
    </head>

    <body align="center" background="static/img/Homeimg.png" style="background-repeat: no-repeat">
        <!--工程链接图文-->
        <!-- <img id="paper" width="100%" src="./"> -->
		
		<!--导航面板界面表格布局-->
		<table id="table" border="1" width="100%" height="20px" cellspacing="0" cellpadding="4" bgcolor="#EEEEEE" class="tabtop13" align="center">
			<tr height="10px"><td colspan="3" height="20px" width="100%">  Developing Projects  </td> </tr>
			<tr height="2px">
				<td id="pro_name1" width="30%" class="btbg font-center titfont">Iot-For-Home-Life</th>
				<td id="pro_name2" width="30%" class="btbg font-center titfont">RTU-GPS-Emap-Site</th>
				<td id="pro_name3" width="30%" class="btbg font-center titfont">RTU-DataScope-Site</th>
			</tr>

			<tr height="2px">
				<td><div  id="pro_link1" width="30%"  class="btbg font-center titfont"><a href="http://www.csustauto.xyz/static/www/index.html">点击进入Iot网页</a></div></td>
				<td><div id="pro_link2" width="30%"  class="btbg font-center titfont"><a href="http://www.csustauto.xyz/emapindex">  点击进入Emap网页   </a></div></td>
				<td><div id="pro_link3" width="30%"  class="btbg font-center titfont"><a href="http://www.csustauto.xyz/echartindex">点击进入DataScope网页</a></div></td>
			</tr>
		</table>
		
    </body>

</html>