@charset "utf-8";
/* CSS Document */

html,body{ width: 100%;height: 100%;margin: 0;padding: 0; }

#map{height: 80%; width:100%; margin:0; padding:0; }

.tabtop13 td{ background-color:#ffffff; }

.font-center{ text-align:center }

.btbg{ background:#e9faff !important; }

.titfont{
	
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
	background: url(/static/img/icon.png) no-repeat 15px center;
	background-color:#e9faff;
}
